<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count users</title>
</head>
<body>
    <h2><u>Total Registered Users</u></h2>
    <p>
        <h3>Count: <%= results[0]["COUNT(*)"] %></h3>
    </p>
    <button>Join us today</button>
</body>
</html>