<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Edit Link</th>
        </tr>
        <% for(let user of users) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <form method="get" action="http://localhost:8080/user/<%= user.id %>/edit">
                        <button type="submit"> Edit </button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>

</html>